<nav class="navbar navbar-expand-lg" style="background-color: #F95738;">
  <div class="container-fluid ">
    <a class="navbar-brand text-light d-flex" href="#">
          <%= image_tag("comanderlogo.png", class:"img-fluid w-25 h-25", alt: "Sample Image") %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="text-light fs-5 nav-link" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="text-light fs-5 nav-link" href="#">Features</a>
        </li>
      </ul>
      <a class='btn btn-primary btn-lg' href="https://www.comander.site">
      Try demo
      </a>
    </div>
  </div>
</nav>

<div class="container-fluid text-center vh-100">
  <div class="row h-100">
    <div class="col-md-6 h-100 d-flex align-items-center justify-content-center">
      <div class='Justify-self-center'>
        <p class='fs-4'>_Comander</p>
        <span class='' style="font-size: 3rem;">The best what to handle your</span>
        <h1 class='fw-bolder' style="color: #F95738; font-size: 4rem;">Restaurant</h1>
        <p>Revolutionize your restaurant's efficiency: from table management to order handling, we handle every step of your service, so you can focus on what matters most – delighting your customers!</p>
        <a class='btn btn-lg text-light'style="background-color: #F95738" href="https://www.comander.site"> Give it a try</a>
      </div>
    </div>
    <div class="col-md-6 h-100 d-flex align-items-center justify-content-center">

     <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
       <div class="carousel-item active">
        <%= image_tag("Comandersample.png", class:"img-fluid rounded-5 p-3 ", alt: "Sample Image") %>
       </div>
    <div class="carousel-item">
      <%= image_tag("comanderfull.png", class:"img-fluid rounded-5 p-3 ", alt: "Sample Image") %>
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

    </div>
  </div>
</div>
